/**************************************
 * Variables
 **************************************/

:root {
    --ocre: #E0A203;
    --gold: #FDC00F;
    --aqua: #41C7C7;
    --blue: #25A9F4;
    --salmon: #FE6A6A;
    --scarlet: #C22121;
    --green: #4CAF50;
    --grass: #8BC349;
    --white: #FFFFFF;
    --black: #211602;

    --opacity: rgba(0, 0, 0, 0.1);

    --max-width: 1200px;
    --width: 80%;
    --full-width: 100%;
}